<!-- <div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        #title="ngModel"
        [(ngModel)]="article.title"
        name="title"
        id="title"
        type="text"
        class="form-control"
      />
      <label for="title">Country</label>
      <input
        #title="ngModel"
        [(ngModel)]="article.country"
        name="Country"
        id="Country"
        type="text"
        class="form-control"
      />
      <label for="title">Article</label>
      <input
        #title="ngModel"
        [(ngModel)]="article.article"
        name="article"
        id="article"
        type="text"
        class="form-control"
      />
    </div>
  </div>
</div>



 -->

<mat-card mat-button style="border: 10px">
  <mat-card-header>
    <mat-card-footer
      #title="ngModel"
      [(ngModel)]="article.title"
      name="title"
      id="title"
      style="padding-bottom: 20px; padding-left: 50px; padding-top: 10px"
    >
      {{ article.title }}</mat-card-footer
    >
  </mat-card-header>

  <mat-card-footer style=>
    <img
      mat-card-image
      [src]="article.imageUrl"
    />

    <mat-card-subtitle
      #title="ngModel"
      [(ngModel)]="article.article"
      name="article"
      id="article"
      style="padding-bottom: 20px; padding-left: 50px"
    >
      {{ article.article }}</mat-card-subtitle
    >
  </mat-card-footer>
</mat-card>
