.mat-card {
  margin: auto;
  width: 640px;
  padding: 50px;
  font-family: "Avenir", sans-serif;
  color: #33475b;
}
.mat-card-header {
  font-weight: bold;
  font-style: italic;
  font-size: large;
  left: auto;
  position: relative;
  padding-bottom: 20px;
}
.mat-card-image {
  width: 500px;
  float: center;
  padding-right: 30px;
  margin-top: 20px;
  margin-left: 50px;
}

.mat-card-subtitle {
  font-style: italic;
  color: black;
}
