<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        #title="ngModel"
        [(ngModel)]="article.title"
        name="title"
        id="title"
        type="text"
        class="form-control"
      />
      <label for="title">Country</label>
      <input
        #title="ngModel"
        [(ngModel)]="article.country"
        name="Country"
        id="Country"
        type="text"
        class="form-control"
      />
      <label for="title">Article</label>
      <input
        #title="ngModel"
        [(ngModel)]="article.article"
        name="article"
        id="article"
        type="text"
        class="form-control"
      />
    </div>
  </div>
</div>
