<div class="container-1">
  <mat-form-field class="mat-form-field" appearance="fill">
    <mat-label>Title</mat-label>
    <input
      matInput
      #title="ngModel"
      [(ngModel)]="country.title"
      name="title"
      id="title"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Country</mat-label>
    <mat-select
      #category="ngModel"
      [(ngModel)]="country.country"
      name="country"
      id="country"
    >
      <mat-option value=""></mat-option>
      <mat-option *ngFor="let c of country$ | async" [value]="c.title">
        {{ c.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Article</mat-label>
    <textarea
      matInput
      #article="ngModel"
      [(ngModel)]="country.article"
      name="article"
      id="article"
      type="text"
    ></textarea>
  </mat-form-field>
  <div class="button">
    <button mat-button (click)="save(country)" color="accent">Save</button>
    <br />
    <button mat-button *ngIf="id" (click)="delete()">Delete</button>
  </div>
  <app-card
    class="app-card"
    [country]="country"
    [show-actions]="false"
  ></app-card>
</div>
