<!-- <div class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          #title="ngModel"
          [(ngModel)]="country.title"
          name="title"
          id="title"
          type="text"
          class="form-control"
          required
        />
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
          Title is required.
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend"></div>
        </div>
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <select
          #category="ngModel"
          [(ngModel)]="country.country"
          name="country"
          id="country"
          class="form-control"
          required
        >
          <option value=""></option>
          <option *ngFor="let c of country$ | async" [value]="c.title">
            {{ c.title }}
          </option>
        </select>
        <div
          class="alert alert-danger"
          *ngIf="country.touched && country.invalid"
        >
          country is required.
        </div>
      </div>
      <div class="form-group">
        <label for="article">Article</label>
        <input
          #article="ngModel"
          [(ngModel)]="country.imageUrl"
          name="article"
          id="article"
          type="text"
          class="form-control"
          required
          url
        />
        <div
          class="alert alert-danger"
          *ngIf="article.touched && article.invalid"
        >
          <div *ngIf="article.errors?.required">Image URL is required.</div>
          <div *ngIf="article.errors?.url">Please enter a valid URL.</div>
        </div>
      </div>
      <button [disabled]="!f.valid" class="btn btn-primary">Save</button>
      <button
        *ngIf="id"
        type="button"
        (click)="delete()"
        class="btn btn-danger"
      >
        Delete
      </button>
    </form>
  </div>
  <div class="col-md-4"></div>
</div> -->

<mat-form-field appearance="fill">
  <mat-label>Title</mat-label>
  <input
    matInput
    #title="ngModel"
    [(ngModel)]="country.title"
    name="title"
    id="title"
  />
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Country</mat-label>
  <mat-select
    #category="ngModel"
    [(ngModel)]="country.country"
    name="country"
    id="country"
  >
    <mat-option value=""></mat-option>
    <mat-option *ngFor="let c of country$ | async" [value]="c.title">
      {{ c.title }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Article</mat-label>
  <textarea
    matInput
    #article="ngModel"
    [(ngModel)]="country.article"
    name="article"
    id="article"
    type="text"
  ></textarea>
</mat-form-field>

<button mat-button (click)="save(country)" color="accent">Save</button>
<br />
<button mat-button *ngIf="id" (click)="delete()">Delete</button>
