.mat-card {
  margin-bottom: 30px;
  width: 397.5px;
  cursor: pointer;
}

.mat-card-header {
  height: 200px;
}

.mat-card-footer {
  padding: 0;
  background: #fff;
  cursor: pointer;
  text-transform: uppercase;
}
