<div class="row">
  <div class="col-2">
    <app-filter [category]="category"></app-filter>
  </div>
  <div class="col sticky-top">
    <div class="row">
      <ng-container *ngFor="let p of filteredProducts; let i = index">
        <div class="col-5">
          <app-card
            [routerLink]="['/admin/published', p.$key]"
            [product]="p"
          ></app-card>
        </div>
        <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
      </ng-container>
    </div>
  </div>
</div>
