.container-1 {
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  flex: 1;
  margin-top: 10px;
}

.button {
  justify-content: space-between;
  margin-left: 650px;
  flex: 1;
  order: 3;
}
.app-card {
  margin-left: 500px;
  flex: 7;
  order: 2;
}
