<div class="container-1">
  <mat-form-field appearance="fill">
    <mat-label>Name Of The Country</mat-label>
    <input
      matInput
      #title="ngModel"
      [(ngModel)]="country.title"
      name="title"
      id="title"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select
      #category="ngModel"
      [(ngModel)]="country.category"
      name="category"
      id="category"
    >
      <mat-option value=""></mat-option>
      <mat-option *ngFor="let c of categories$ | async" [value]="c.name">
        {{ c.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Image URL</mat-label>
    <input
      matInput
      #imageUrl="ngModel"
      [(ngModel)]="country.imageUrl"
      name="imageUrl"
      id="imageUrl"
      type="text"
    />
  </mat-form-field>
  <div class="button">
    <button mat-button (click)="save(country)" color="accent">Save</button>
    <br />
    <button mat-button *ngIf="id" (click)="delete()">Delete</button>
  </div>

  <app-card
    class="app-card"
    [country]="country"
    [show-actions]="false"
  ></app-card>
</div>
