<mat-toolbar color="primary">
  <span mat-button> SHAREC </span>

  <div class="spacer"></div>

  <a mat-button routerLink="">Home</a>
  <mat-template #anonymousUser>
    <span *ngIf="!(auth.user | async)" class="mat-item">
      <a class="mat-link" href="login">login</a>
    </span>
    <button
      mat-button
      [matMenuTriggerFor]="menu"
      color="accent"
      *ngIf="auth.user | async as user; ngIfElse: anonymousUser"
    >
      {{ user.displayName }}
    </button>
    <br />
    <mat-menu #menu="matMenu" style="padding-top: 50px">
      <button mat-button routerLink="/admin/countries">Countries</button>
      <button mat-button routerLink="/admin/publish">Publish</button>
      <button (click)="logout()" mat-button href="home">Logout</button>
    </mat-menu>
  </mat-template>
</mat-toolbar>
